.navbar-default {
    background-color: white;
}
.members-wrapper {
    display: none;
    height: calc(100vh - 52px);
}

.board-wrapper {
    display: block;
    overflow-x: auto;
    padding-top: 46px;
    padding-left: 10px;
    height: calc(100vh - 52px);
    overflow-y: hidden;
    box-sizing: border-box;
    padding-bottom: 46px;
}
.lists-wrapper {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

header {
    height: 52px;
}

.task-column {
    position: relative;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card {
    position: relative;
}

.edit-itm-btn {
  position: absolute;
  right: 2px;
  top:2px;
  display: none;
}

.edit-itm-btn a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.edit-itm-btn button {
    border: none;
    color: white;
    text-decoration: none;
    font-size: 13px;
    background:  #5bc0de;
}

.card:hover .edit-itm-btn {
    display: block;
}

.person-wrapper {
    direction: rtl;
    text-align: right;
}

.task-person {
    text-transform: uppercase;
}

.panel-heading {
    position: relative;
    height: 45px;
}
.title-btn {
    position: absolute;
    right: 2px;
    top: 2px;
    
}
.panel-footer a {
    font-size: 16px;
    color: #333;
}

.panel-footer .add-card {
    background-color: #f5f5f5;
    font-size: 16px;
    color: #333;
    border: none;
}

.panel-footer {
    
}
.cards-list-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    list-style-type: none;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 0;
}
.list {
    height: 100%;
    width: 250px;
    flex-shrink: 0;
    margin-right: 33px;
    overflow: hidden;
}

.card:last-child{
    margin-bottom: 0;
}
.add-card-list-btn-wrapper {
    margin-bottom: 0;
}
.add-card-list {
    border: none;
    color: #31708f;
    background-color: #d9edf7;
    font-size: 16px;
}

.delete-list-btn {
    position: absolute;
    right: 6%;
    z-index: 700;
    top: 100%;
    margin-top: 3px;
    display: none;
}

.show-delete-btn + .delete-list-btn {
    display: block;
}

.edit-popUp-wrapper {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.edit-popUp {
    width: 600px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 19px;
}
textarea,select,.checkbox-row{
    width: 80%;
}
.checkbox-row {
    display: flex;
    flex-direction: column;
    min-height: 40px;
}
.checkbow-wrapper {
    width: fit-content;
    border: 1px solid #ddd;
    padding: 0 50% 2% 4%;
    box-sizing: border-box;
    max-height: 70px;
    overflow-y: auto;
    list-style-type: none;
}
input[type=checkbox] {
    margin-right: 7px
}
.single-checkbox {
    margin-bottom: 3px;
}
.panel-default>.popUp-heaing {
    background-color: white;
    background-color: white;
    height: 60px;
    padding-top: 19px;
}
.popUp-footer {
    background-color: white;
}
.btn-popUp {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 0;
}

.popUpdelete {
    color: white;
    background: #ce4844;
}
.footer-close {
    color: black;
    background: white;
}

.save-changes {
    color: white;
    background: dodgerblue;
}
.pop-up-footer  {
    direction: rtl;
}

select {
    background-color: white;
    height: 40px;
}
.popUp-heaing .panel-title {
    font-size: 21px;
 
}
label {
    font-size: 17px;
} 
.show-edit .edit-popUp-wrapper {
    display: flex;
}
.top-close-popup {
    position: absolute;
    right: 14px;
    top: 18px;
    color: #ddd;
    cursor: pointer;
}
.add-new-member-wrapper{
    display: flex
}
.add-new-member-input {
    max-width: 250px
}
.add-new-member-btn {
    font-size: 14px;
}
.members-list-wrapper {
    border-color: #ddd;
    height: 100%;
    display: flex;
    border-color: #ddd;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 46px;
}
.members-list {
    height: fit-content;
    width: 600px;
    border: 1px solid #ddd;
}
.members-title {
    border-bottom: none;
    padding-bottom: 9px;
    margin: 41px 0 0px; 
}